.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
  position: relative;
  width: 240px;
}

.card-category a {
  color: white;
  text-decoration: none;
}

.card-category-icon {
  position: absolute;
  top: 4px;
  right: 8px;
}
